server:
  port: 8080

database:
  dsn: "{{DB_DSN}}"
  max_idle: 30
  max_open: 25
  max_lifetime: 10

redis:
  addr: "{{REDIS_ADDR}}"
  password: "{{REDIS_PASSWORD}}"
  db: 0
  pool_size: 10

sms:
  url: "{{SMS_URL}}"
  username: "{{SMS_USERNAME}}"
  api_key: "{{SMS_API_KEY}}"

llm:
  url: "{{LLM_URL}}"
  text_model: "{{LLM_MODEL}}"
  vision_model: "{{LLM_MODEL}}"
  embedding_model: "{{LLM_MODEL}}"
  thinking_mode: "disabled"
  dimensions: 1024
  api_key: "{{LLM_API_KEY}}"
  prompts_path:
    aggressive_tag: "./prompts/aggressive-tag.txt"
    chat: "./prompts/chat.txt"
    content_process: "./prompts/content-process.txt"
    image_process: "./prompts/image-process.txt"
    search: "./prompts/search.txt"

minio:
  internal_endpoint: "{{MINIO_ENDPOINT}}"
  external_endpoint: "{{MINIO_ENDPOINT}}"
  access_key: "{{MINIO_ACCESS_KEY}}"
  secret_key: "{{MINIO_SECRET_KEY}}"
  bucket: "{{MINIO_BUCKET}}"
  internal_use_ssl: false

elastic:
  address: "{{ELASTIC_ADDRESS}}"
  username: "{{ELASTIC_USERNAME}}"
  password: "{{ELASTIC_PASSWORD}}"
  indices:
    user_index: "{{ELASTIC_USER_INDEX}}"
    post_index: "{{ELASTIC_POST_INDEX}}"

logstash:
  address: "{{LOGSTASH_ADDRESS}}"
  index: "{{LOGSTASH_INDEX}}"
  token: "{{LOGSTASH_TOKEN}}"

lib_path:
  ffmpeg: "lib/ffmpeg/ffmpeg.exe"
  ffprobe: "lib/ffmpeg/ffprobe.exe"
  whisper: "lib/whisper/whisper-cli.exe"
  whisper_model: "lib/whisper/ggml-small.bin"

kafka:
  brokers:
    - "{{KAFKA_BROKER}}"
  sasl:
    enable: true
    username: "{{KAFKA_SASL_USERNAME}}"
    password: "{{KAFKA_SASL_PASSWORD}}"
  consumer:
    batch_size: 32
    batch_timeout: 1
    session_timeout: 10
    heartbeat_interval: 3
    rebalance_timeout: 180
    max_processing_time: 60

kafka_user_consumer:
  topic: "{{KAFKA_USER_TOPIC}}"
  group_id: "{{KAFKA_USER_GROUP_ID}}"

kafka_user_detail_consumer:
  topic: "{{KAFKA_USER_DETAIL_TOPIC}}"
  group_id: "{{KAFKA_USER_DETAIL_GROUP_ID}}"

kafka_user_follow_consumer:
  topic: "{{KAFKA_USER_FOLLOW_TOPIC}}"
  group_id: "{{KAFKA_USER_FOLLOW_GROUP_ID}}"

kafka_post_consumer:
  topic: "{{KAFKA_POST_TOPIC}}"
  group_id: "{{KAFKA_POST_GROUP_ID}}"